
.navbar {
  display: inline-block;
  height: 60px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  position: relative;
  left: 110px;
}

.navbar-logo {
  height: 100%;
}

.down-logo{
  position: relative;
  text-align: center;
  left: 550px;
  top: 210px;
  margin: auto;
  padding: 15px 15px;

}

.navbar-link {
  vertical-align: top;
  height: 100%;
}

.navbar-link:first-child {
  border-right: 1px solid black;
}

.navbar-link:nth-child(4){
  border-right: 1px solid black;
}


.navbar-link:last-child {
  border-left: 1px solid black;
}

.navbar-last{
  height: 100%;
  position: relative;
  top: 40px;
  right: 500px;
}

.navbar-last a span {
  display: block;
  padding-top: 20px;
}
.navbar-last a {
  height: 100%;
  text-decoration: none;
  color: black;
  display: block;
  padding: 0 25px;
}

.navbar-last:hover {
  background-color: rgba(218, 165, 32, .5);
}

.navbar-link a {
  height: 100%;
  text-decoration: none;
  color: black;
  display: block;
  padding: 0 25px;
}
.navbar-link a span {
  display: block;
  padding-top: 20px;
}

.navbar-link:hover {
  background-color: rgba(218, 165, 32, .5);
}

.navbar li {
  display: inline-block;
}

header {
  width: 100%;
  position: absolute;
}

.tam-tren{
  height: 60px;
}

.tam-down{
  position: relative;
  bottom: 150px;
  height: 80%;
  width: 80%;
}

.spotify-list{
  position: relative;
  top: 100px;
}
