
html, body {
  margin: 0px;
  background-color: rgb(21,10,6);
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 110px;
  margin: 0px;
  font-size: 70px;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  cursor: pointer;
}

h1:hover {
  font-size: 80px;
}

.main-image {
  width: 100%;
}

section, footer {
  background-color: white;
  padding-top: 10px;
}

footer{
  margin: 0 10% 0;
}

section:first-child {
  padding-top: 0;
  background-color: transparent;
}

section:not(:first-child) {
  margin: 0 10%;
  padding: 0 30px 0
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  margin: 0;
  background-color: transparent;
}

h4 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  margin: 0;
  background-color: transparent;
}

.history-container {
  margin-top: 65px;
}

.divided-container>div {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.bottom-text{
  margin: 20px 0 0 40px;
  padding-bottom: 50px;
}

.team-image{
  text-align: center;
  margin: 5% 0;
}
.team-image img {
  width: 70%;
}

.list-container {
  margin-top: 5%;
}

.list-container ul:hover {
  border-bottom: 5px solid black;
}

.our-game-item{
  float: left;
  width: 33%;
  cursor: pointer;
  height: 60px;
  display: block;
  position: relative;
}

.our-game-item.active {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  background-color: rgba(218, 165, 32, .5);
}

.our-game-item span {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}


.hidden {
  display: none;
  visibility: hidden;
}

.enmarcada{
  border: 1px solid rgb(51,25,0); /* ancho - tipo - color */
  margin: 5px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.team-descriptions>div{
  border-top: 1px solid rgb(51,25,0);
  padding : 40px 0;
}

.sil-widget-contact{
  display: inline-block;
    text-align: center;
    width: 100%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(218, 165, 32, .5);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.history-image{
  background-image: url(../img/history.png);
    max-width: 400px;
    overflow: hidden;
    position: relative;
    left: 40px;
    height: 350px;
    background-size: cover;
    background-position-x: -90px;
}
.history-image:hover{
  background-image: url(../img/history2.png);
  max-width: 400px;
  overflow: hidden;
  position: relative;
  left: 40px;
  height: 350px;
  background-size: cover;
  background-position-x: -90px;
}

.top-text{
  position: relative;
  left: 100px;
}

#cloud-scroll {
width: 100%;
height: 500px;
background: url(../img/fondoWeb.png) repeat-x;
-webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 200s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -20000px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -20000px 0;}
}

.tren-Image{
  width: 100%;
    height: 100%;
    position: relative;
    bottom: 10px;
}

.video-responsive {
position: relative;
left: 230px;
padding-top: 15px;
padding-bottom: 20px; /* 16/9 ratio */
height: 2;
width: 560px;
height: 315px;
}

.link-h1{
  text-decoration: none;
}

.footer-text{
  position: relative;
  top:475px;
  left: 300px;
}
